@font-face {
    font-family: Arimo;
    src: url("../fonts/Arimo-Regular.ttf");
    src: url("../fonts/Arimo.svg");
    src: url("../fonts/Arimo-Regular.eot");
    src: url("../fonts/Arimo.woff");
    src: url("../fonts/Arimo-Regular.woff2");
}

.all-page {
    width: 1197px;
    margin: auto;
    /*height: 768px;*/
    background: #3A4965;
    font-family: Arimo, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pricing-plan-table {
    background: white;
    width: auto;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.table-head-name {
    width: 199px;
    height: 114px;
    vertical-align: middle;
}

.table-name-text {
    width: 100%;
    height: 114px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.choose {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
    padding-bottom: 7px;
    display: inline-block;
}

.shadow-line {
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.1)
}

.bg-dark-grey {
    background: #E3E3E3;
}

.bg-light-grey {
    background: #F2F2F2;
}

.pricing-plan {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
}

.table-head-name {
    /*box-shadow: 0 3px 0 0 #404040;*/
}

.table-plan-name {
    /*width: 199px;*/
    /*height: 168px;*/
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    /*box-shadow: 0 3px 0 0 #404040;*/
}

.standard {
    background: #89C331;
}

.ultimate {
    background: #F04A56;
}

.premium {
    background: #20807C;
}

.plan-price-container-standard {
    width: 175px;
    /*height: 138px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    /*vertical-align: middle;*/
    display: flex;
    /*flex-direction: row;*/
    /*position: relative;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plan-price-container-premium {
    width: 173px;
    /*height: 138px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    /*vertical-align: middle;*/
    display: flex;
    /*flex-direction: row;*/
    /*position: relative;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.standard-text {
    display: inline-block;
    padding-bottom: 17px;
}

.price-dollars-standard {
    font-size: 36px;
    font-weight: bold;
    color: white;
    display: inline-block;
    float: left;
}

.price-decimals-standard {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-bottom: 13px;
    /*padding-top: 4px;*/
    /*position: absolute;*/
    /*top: 35%;*/
}

.per-month-standard {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-left: 3px;
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
}

.button {
    width: 145px;
    /*height: 45px;*/
    font-size: 16px;
    text-decoration: none;
    padding: 13px 0 9px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: #484848;
    box-shadow: 0 4px 0 0 #404040;
    margin-bottom: 8px;
    margin-top: 17px;
}

.button:hover {
    background: #404040;
}

.content-cell {
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
}

.content-block {
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    flex-direction: column;
}

.content-text-top {
    padding-bottom: 5px;
}

.plan-properties {
    width: 158px;
    vertical-align: middle;
}

.plan-properties-block {
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #484848;
    text-transform: uppercase;
    font-weight: bold;
}

.fas, .far {
    padding-bottom: 5px;
    color: #848484;
}